html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.bg-primary {
  background-color: #91c7af !important;
}

hr.star-light:after {
	color:#fff;
	background-color:#91c7af;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover{
	color:#91c7af;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover{
	color:#fff;
	background:#91c7af;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active{
	background:#91c7af;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus{
	background:#91c7af;
}

.btn-primary{
	background-color:#91c7af;
	border-color:#91c7af;
}

.col-lg-4 {
	margin-right: 10% !important;
}